pandas = panel data system ,

In [ ]:
import pandas as pd

In [ ]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford","audi", "merc"],
  'passings': [3, 7, 2,4,5]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
3   audi         4
4   merc         5

In [ ]:
myfamily = {
    'engineers':["sonu","ranjit", "guddu"],
    "salary": [60000,40000,30000]
     }
myfam = pd.DataFrame(myfamily)
print(myfam)

  engineers  salary
0      sonu   60000
1    ranjit   40000
2     guddu   30000

                    pandas series

In [ ]:
a = [1,2,3,4,5]
b = pd.Series(a)
print(b)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
print(b[0])

1

In [ ]:
print(b[2])

3

In [ ]:
#######                              Create Labels

In [ ]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
p = [6,7,8]
myarr = pd.Series(p,index = ["x","y","z"])
print(myarr)

x    6
y    7
z    8
dtype: int64

In [ ]:
print(myarr['x'])

6

In [ ]:
##Key/Value Objects as Series

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day2", "day3"])

print(myvar)

day2    380
day3    390
dtype: int64

In [ ]:
exercise = {"monday": "ihr","tue": "2hr","thu":"3hr","fri":"4hr","sat":"3omin","sun":"nowork"}
myex= pd.Series(exercise)
print(myex)

monday       ihr
tue          2hr
thu          3hr
fri          4hr
sat        3omin
sun       nowork
dtype: object

In [ ]:
myex = pd.Series(exercise,index = ["monday","tue"])
print(myex)

monday    ihr
tue       2hr
dtype: object

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
obj1 = pd.Series(np.tile([1,2],2))

In [ ]:
obj1                    # np.tile function print the list as many times as u want

0    1
1    2
2    1
3    2
dtype: int64

In [ ]:
# index is not necessary to be in sequence 
obj2 = pd.Series(12,index = range(1,6,2))
obj2

1    12
3    12
5    12
dtype: int64

In [ ]:
obj3= pd.Series(200,index = range(2022,2029,2))
obj3

2022    200
2024    200
2026    200
2028    200
dtype: int64

In [ ]:
import pandas as pd 
ind = ['jan',"feb","march"]
values = [31,28,31]
obj1 = pd.Series(index =ind,data = values )
obj1

jan      31
feb      28
march    31
dtype: int64

In [ ]:
obj1.index            #it gives the index

Index(['jan', 'feb', 'march'], dtype='object')

In [ ]:
obj1.values           # it provides the values of the object

array([31, 28, 31])

In [ ]:
obj1.dtype

dtype('int64')

In [ ]:
obj1.size

3

In [ ]:
obj1.size

3

In [ ]:
type(obj1)

pandas.core.series.Series

In [ ]:
obj1.shape

(3,)

In [ ]:
print(obj1.nbytes)

24

In [ ]:
obj2 = pd.Series()
print(obj2.empty)

True

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
#######           modifying series object values 
a = [1,2,3,4,5]
b = pd.Series(a)
print(b)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
b[0]

1

In [ ]:
b[0]=8
b[2]=9
b

0    8
1    2
2    9
3    4
4    5
dtype: int64

In [ ]:
###### renaming indexes 
b.index = ['a','b','c','d','e']
b

a    8
b    2
c    9
d    4
e    5
dtype: int64

In [ ]:
#### head(5), tail(5 ) gives the top 5 and bottom rows of any object
b.head(2)

a    8
b    2
dtype: int64

In [ ]:
b

a    8
b    2
c    9
d    4
e    5
dtype: int64

In [ ]:
b+2
#### every elements of object will be increase by 2

a    10
b     4
c    11
d     6
e     7
dtype: int64

In [ ]:
#### arithmetic on series object

In [ ]:
import pandas as pd
obj1 = pd.Series([1,2,3,4])
obj2 = pd.Series([4,5,6,7])
obj3 = pd.Series([3,2,1,2])
print(obj1+obj2+obj3)

0     8
1     9
2    10
3    13
dtype: int64

In [ ]:
print(obj1>2)             # filtering

0    False
1    False
2     True
3     True
dtype: bool

In [ ]:
print(obj1[obj1>2])      # filtering

2    3
3    4
dtype: int64

In [ ]:
###### sorting series values 
obj3.sort_values()

2    1
1    2
3    2
0    3
dtype: int64

In [ ]:
obj1 = pd.Series([11,3,28,4])        
obj1.sort_values()

1     3
3     4
0    11
2    28
dtype: int64

In [ ]:
obj1.sort_values(ascending=False)        # it will arrange the data in descending order

2    28
0    11
3     4
1     3
dtype: int64

In [ ]:
obj1.sort_index(ascending=False)

3     4
2    28
1     3
0    11
dtype: int64

In [ ]:
#### creating DataFrame object by dict 
import pandas as pd
dict1 = { "students": ["sonu","neha","arti"],
         "marks": [60,70,80],
         "sports": ["cricket","luddo","badminton"]}
df = pd.DataFrame(dict1,index =["p","q","r"])
print(df)

  students  marks     sports
p     sonu     60    cricket
q     neha     70      luddo
r     arti     80  badminton

In [ ]:
dict1 = { "sales":{ "name":"sonu","age":25,"sex": "male"},
         "marketing":{'name': 'neha',"age":24,'sex': "female"}}
df = pd.DataFrame(dict1)
print(df)

     sales marketing
name  sonu      neha
age     25        24
sex   male    female

In [ ]:
dict1 = { "sales":{ "name":"sonu","age":25,"sex": "male"},
         "marketing":{'name': 'neha',"age":24}}
df = pd.DataFrame(dict1)
print(df)

     sales marketing
name  sonu      neha
age     25        24
sex   male       NaN

In [ ]:
dict1 = { "sales":{ "name":"sonu","age":25,"sex": "male"},
         "marketing":{'name': 'neha',"age":24,'salary': 100000}}
df = pd.DataFrame(dict1)
print(df)

       sales marketing
name    sonu      neha
age       25        24
sex     male       NaN
salary   NaN    100000

In [ ]:
import pandas as pd 
dict1 = { "roll":12, "name": "sonu","marks":100}
dict2 =  { "roll":11, "name": "monu","marks":10}
dict3 = { "roll":2, "name": "tonu","marks":150}
list1 = [dict1,dict2,dict3]
df = pd.DataFrame(list1)
print(df)

   roll  name  marks
0    12  sonu    100
1    11  monu     10
2     2  tonu    150

In [ ]:
import pandas as pd 
dict1 = { "roll":12, "name": "sonu","marks":100}
dict2 =  { "roll":11, "name": "monu","marks":10}
dict3 = { "roll":2, "name": "tonu","marks":150}
list1 = [dict1,dict2,dict3]
df = pd.DataFrame(list1,index = ["secA","secB",'secC'])
print(df)

      roll  name  marks
secA    12  sonu    100
secB    11  monu     10
secC     2  tonu    150

In [ ]:
list2 = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(list2,columns =["col1","col2","col3"])
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
import pandas as pd 
import numpy as np 
arr1 = np.array([[1,2,3],[4,5,6]])
df = pd.DataFrame(arr1, columns = ["a",'b',"c"])
print(df)

   a  b  c
0  1  2  3
1  4  5  6

In [ ]:
import pandas as pd 
staff = pd.Series([20,40,44])
salary = pd.Series([1000,15000,25000])
school = {'people':staff,'amount':salary}
df = pd.DataFrame(school)
print(df)

   people  amount
0      20    1000
1      40   15000
2      44   25000

In [ ]:
import pandas as pd           # creating dataframe object by series 
staff = pd.Series([20,40,44])
salary = pd.Series([1000,15000,25000])
school = {'people':staff,'amount':salary}
df = pd.DataFrame(school)
print(df["people"])

0    20
1    40
2    44
Name: people, dtype: int64

In [ ]:
# creating a dataframe by using data frame 
import pandas as pd 
obj1 = pd.DataFrame([[1,2,3],[4,5,6]])
obj2 = pd.DataFrame(obj1)
print(obj2)

   0  1  2
0  1  2  3
1  4  5  6

In [ ]:
obj1.index

RangeIndex(start=0, stop=2, step=1)

In [ ]:
obj2.columns

RangeIndex(start=0, stop=3, step=1)

In [ ]:
obj2.axes

[RangeIndex(start=0, stop=2, step=1), RangeIndex(start=0, stop=3, step=1)]

In [ ]:
len(obj2)     # count the number of rows

2

In [ ]:
obj1.count()
obj1.count(0)
obj1.count(axis='index')

0    2
1    2
2    2
dtype: int64

In [ ]:
obj1.count()
obj1.count(0)

0    2
1    2
2    2
dtype: int64

In [ ]:
df.count()

people    3
amount    3
dtype: int64

In [ ]:
df.count(axis = 'columns')

0    2
1    2
2    2
dtype: int64

In [ ]:
dict1 = { "sales":{ "name":"sonu","age":25,"sex": "male"},
         "marketing":{'name': 'neha',"age":24,'salary': 100000}}
df = pd.DataFrame(dict1)
print(df)

       sales marketing
name    sonu      neha
age       25        24
sex     male       NaN
salary   NaN    100000

In [ ]:
df.count(axis= 'columns')

name      2
age       2
sex       1
salary    1
dtype: int64

In [ ]:
#### transposing a dataframe; its converted rows int0 columns 
df.T

           name age   sex  salary
sales      sonu  25  male     NaN
marketing  neha  24   NaN  100000

In [ ]:

#### selecting accesing dataframe columns 
df['sales']

name      sonu
age         25
sex       male
salary     NaN
Name: sales, dtype: object

In [ ]:
############# loc and iloc function 
#   dataframeobject.loc[start_row:end_row , start_column:end_column] when then name of rows and column are known 
# dfo.iloc[start_row_index:end_row_index , start_column_index:end_column_index]                          its used when rows and column name are not given

In [ ]:
## obj.column_name["rows_name"]  gives the intersection values # obj.at["column_name", "rows_name"] it returns the intersected values 
# obj.iat[3,2]  its take index rows and column as input

In [ ]:
### we can use extra column in obj by obj["col_name"] = [values]
# to delete any rows , del obj["column"]   it will delete the column 
# we can also use drop function obj.drop["col1","col2",axis=1 ]

In [ ]:
# renaming rows and column 
# to change rows obj.rename({"old_name":"new_name",...}) it change temporarily 
#obj.rename({"old_name":"new_name",...},inplace='True') its completely change the data base value

In [ ]:
sales = { 'year1':{"qtr1":1200,"qtr2":1900,"qtr3":1540,"qtr4":2000},
         "year2":{"qtr1":1900,"qtr2":1500,"qtr3":1505,"qtr4":3000},
         "year3":{"qtr1":1600,"qtr2":1800,"qtr3":1540,"qtr4":2000},
         "year4":{"qtr1":1200,"qtr2":1900,"qtr3":1540,"qtr4":2000}}
print(sales)

{'year1': {'qtr1': 1200, 'qtr2': 1900, 'qtr3': 1540, 'qtr4': 2000}, 'year2': {'qtr1': 1900, 'qtr2': 1500, 'qtr3': 1505, 'qtr4': 3000}, 'year3': {'qtr1': 1600, 'qtr2': 1800, 'qtr3': 1540, 'qtr4': 2000}, 'year4': {'qtr1': 1200, 'qtr2': 1900, 'qtr3': 1540, 'qtr4': 2000}}

In [ ]:
import pandas as pd

In [ ]:
obj1 = pd.DataFrame(sales)
print(obj1)

     year1 year2 year3 year4
qtr1  1200  1900  1600  1200
qtr2  1900  1500  1800  1900
qtr3  1540  1505  1540  1540
qtr4  2000  3000  2000  2000

In [ ]:
# itterrows(),itteritems()
for (a,b ) in obj1.iterrows():
  #print(a,b)
  print("rowindex",a,'\n.value=\n',b)

rowindex qtr1
.value=
 year1    1200
year2    1900
year3    1600
year4    1200
Name: qtr1, dtype: object
rowindex qtr2
.value=
 year1    1900
year2    1500
year3    1800
year4    1900
Name: qtr2, dtype: object
rowindex qtr3
.value=
 year1    1540
year2    1505
year3    1540
year4    1540
Name: qtr3, dtype: object
rowindex qtr4
.value=
 year1    2000
year2    3000
year3    2000
year4    2000
Name: qtr4, dtype: object

In [ ]:
for (a,b ) in obj1.iteritems():
  #print(a,b)
  print("rowindex",a,'\n.value=\n',b)

rowindex year1
.value=
 qtr1       1200
quater2    1900
qtr3       1540
qtr4       2000
quater5    1000
Name: year1, dtype: object
rowindex year2
.value=
 qtr1       1900
quater2    1500
qtr3       1505
qtr4       3000
quater5     333
Name: year2, dtype: object
rowindex year3
.value=
 qtr1       1600
quater2    1800
qtr3       1540
qtr4       2000
quater5     666
Name: year3, dtype: object
rowindex year4
.value=
 qtr1       1000.0
quater2    2000.0
qtr3       3000.0
qtr4       4000.0
quater5    2000.0
Name: year4, dtype: float64

In [ ]:
obj1

     year1 year2 year3 year4
qtr1  1200  1900  1600  1200
qtr2  1900  1500  1800  1900
qtr3  1540  1505  1540  1540
qtr4  2000  3000  2000  2000

In [ ]:
print("sonu")

sonu	kumar

In [ ]:
obj1.year1                  # to access single column

qtr1    1200
qtr2    1900
qtr3    1540
qtr4    2000
Name: year1, dtype: object

In [ ]:
obj1.year1['qtr4']             # to access particular values

'2000'

In [ ]:
obj1.at['qtr2','year4']     # another method to find individual values by at

1900

In [ ]:
obj1.iat[2,1]         # it for index

1505

In [ ]:
########## adding and modifying column 
obj1["year5"]=[1000,2000,3000,4000]       # its add column 
obj1

     year1 year2 year3  year4  year5
qtr1  1200  1900  1600   1000   1000
qtr2  1900  1500  1800   2000   2000
qtr3  1540  1505  1540   3000   3000
qtr4  2000  3000  2000   4000   4000

In [ ]:
# for adding rows 
obj1.at["qtr5",:] =[1000,333,666,2000,3000]
obj1

     year1 year2 year3   year4   year5
qtr1  1200  1900  1600  1000.0  1000.0
qtr2  1900  1500  1800  2000.0  2000.0
qtr3  1540  1505  1540  3000.0  3000.0
qtr4  2000  3000  2000  4000.0  4000.0
qtr5  1000   333   666  2000.0  3000.0

In [ ]:
del obj1['year5']

In [ ]:
# renaming rows and column # its rename the temporarily 
obj1.rename(index ={"qtr5":"quater5","qtr2":"quater2" })

        year1 year2 year3   year4
qtr1     1200  1900  1600  1000.0
quater2  1900  1500  1800  2000.0
qtr3     1540  1505  1540  3000.0
qtr4     2000  3000  2000  4000.0
quater5  1000   333   666  2000.0

In [ ]:
# if you want to change permananetly 
obj1.rename(index ={"qtr5":"quater5","qtr2":"quater2" },inplace = True)
obj1

        year1 year2 year3   year4
qtr1     1200  1900  1600  1000.0
quater2  1900  1500  1800  2000.0
qtr3     1540  1505  1540  3000.0
qtr4     2000  3000  2000  4000.0
quater5  1000   333   666  2000.0

In [ ]:
############ for renaming the column 
obj1.rename(columns  ={"year1":"yrs1","year2":"yrs2" })

         yrs1  yrs2 year3   year4
qtr1     1200  1900  1600  1000.0
quater2  1900  1500  1800  2000.0
qtr3     1540  1505  1540  3000.0
qtr4     2000  3000  2000  4000.0
quater5  1000   333   666  2000.0

In [ ]:
# binary operation on pandas 
data1 = { "A":[1,2,3],"B":
        [4,5,6],"C":[7,8,9]}
df1 = pd.DataFrame(data1)
df1

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
data2 = { "A":[10,20,30],"B":
        [40,50,60],"C":[70,80,90]}
df2 = pd.DataFrame(data2)
df2

    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90

In [ ]:
df1+df2

    A   B   C
0  11  44  77
1  22  55  88
2  33  66  99

In [ ]:
df1.add(df2)

    A   B   C
0  11  44  77
1  22  55  88
2  33  66  99

In [ ]:
obj1

        year1 year2 year3   year4
qtr1     1200  1900  1600  1000.0
quater2  1900  1500  1800  2000.0
qtr3     1540  1505  1540  3000.0
qtr4     2000  3000  2000  4000.0
quater5  1000   333   666  2000.0

In [ ]:
obj1['year1']

qtr1       1200
quater2    1900
qtr3       1540
qtr4       2000
quater5    1000
Name: year1, dtype: object

In [ ]:
sum1 = 0 
for i in obj1['year1']:
  print(i)

1200
1900
1540
2000
1000

In [ ]:
df1-df2

    A   B   C
0  -9 -36 -63
1 -18 -45 -72
2 -27 -54 -81

In [ ]:
df1.sub(df2)

    A   B   C
0  -9 -36 -63
1 -18 -45 -72
2 -27 -54 -81

In [ ]:
df1.rsub(df2)

    A   B   C
0   9  36  63
1  18  45  72
2  27  54  81

In [ ]:
df1*df2

    A    B    C
0  10  160  490
1  40  250  640
2  90  360  810

In [ ]:
obj1

        year1 year2 year3   year4
qtr1     1200  1900  1600  1000.0
quater2  1900  1500  1800  2000.0
qtr3     1540  1505  1540  3000.0
qtr4     2000  3000  2000  4000.0
quater5  1000   333   666  2000.0

In [ ]:
obj1["year1"]+obj1["year2"]

qtr1           3100
quater2        3400
qtr3           3045
qtr4       20003000
quater5        1333
dtype: object

In [ ]:
########### data visualisation

In [ ]:
import matplotlib as mt

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
####read csv

In [ ]:
# df = pd.read_csv('data.csv')
# print(df)    , t print wholse csv use print(df.to_string())

You can check your system's maximum rows with the (pd.options.display.max_rows) )statement.

In [ ]:
### df.head() it is used to print the top 5 rows of the data , df.tail() use for bottom , df.info() for more information

**Pandas - Cleaning Empty Cells** ,new_df = df.dropna() dropna() is used to remove the empty cell 
Note: By default, the dropna() method returns a new DataFrame, and will not change the original.

If you want to change the original DataFrame, use the inplace = True argument:

Replace Empty Values
The fillna() method allows us to replace empty cells with a value:
df.fillna(130, inplace = True)
**Replace Only For Specified Columns**
df = pd.read_csv('data.csv')

df["Calumn_name"].fillna(130, inplace = True)

**Replace Using Mean, Median, or Mode**
import pandas as pd

df = pd.read_csv('data.csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)

**Pandas - Cleaning Data of Wrong Format**
Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format.

**Convert Into a Correct Format**
Pandas has a to_datetime() method for this: used to convert into date 
eg
import pandas as pd

df = pd.read_csv('data.csv')

df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())
Remove rows with a NULL value in the "Date" column:
df.dropna(subset=['Date'], inplace = True)