In [ ]:
import pandas as pd

df = pd.read_csv('data1.csv')

print(df.to_string())

In [3]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [8]:
print(df['Pulse'])

0      110
1      117
2      103
3      109
4      117
      ...
164    105
165    110
166    115
167    120
168    125
Name: Pulse, Length: 169, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [7]:
df.Calories

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [10]:
df[['Duration','Pulse']]

     Duration  Pulse
0          60    110
1          60    117
2          60    103
3          45    109
4          45    117
..        ...    ...
164        60    105
165        60    110
166        60    115
167        75    120
168        75    125

[169 rows x 2 columns]

In [11]:
df.loc[0:5,'Duration':'Calories']

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0

In [15]:
df.loc[0,:]

Duration     60.0
Pulse       110.0
Maxpulse    130.0
Calories    409.1
Name: 0, dtype: float64

In [16]:
df.loc[0:5, :]

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0

In [17]:
df.loc[:,'Duration':	'Calories']

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [18]:
df.Duration[2]

60

In [19]:
df.at[4,'Duration']

45

In [21]:
df.at[5,'Duration']

60

In [26]:
df['status']='yes'
df

     Duration  Pulse  Maxpulse  Calories status
0          60    110       130     409.1    yes
1          60    117       145     479.0    yes
2          60    103       135     340.0    yes
3          45    109       175     282.4    yes
4          45    117       148     406.0    yes
..        ...    ...       ...       ...    ...
164        60    105       140     290.8    yes
165        60    110       145     300.0    yes
166        60    115       145     310.2    yes
167        75    120       150     320.4    yes
168        75    125       150     330.4    yes

[169 rows x 5 columns]

In [28]:
del df['status']

In [30]:
df['serial'] = range(1,170)
df

     Duration  Pulse  Maxpulse  Calories  serial
0          60    110       130     409.1       1
1          60    117       145     479.0       2
2          60    103       135     340.0       3
3          45    109       175     282.4       4
4          45    117       148     406.0       5
..        ...    ...       ...       ...     ...
164        60    105       140     290.8     165
165        60    110       145     300.0     166
166        60    115       145     310.2     167
167        75    120       150     320.4     168
168        75    125       150     330.4     169

[169 rows x 5 columns]

In [33]:
# how to add row 
df.Duration

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

In [36]:
df.drop(['serial'],axis=1)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [37]:
df.drop([168])

     Duration  Pulse  Maxpulse  Calories  serial
0          60    110       130     409.1       1
1          60    117       145     479.0       2
2          60    103       135     340.0       3
3          45    109       175     282.4       4
4          45    117       148     406.0       5
..        ...    ...       ...       ...     ...
163        45    100       140     280.9     164
164        60    105       140     290.8     165
165        60    110       145     300.0     166
166        60    115       145     310.2     167
167        75    120       150     320.4     168

[168 rows x 5 columns]